.daily-view {
    margin: 0;
}

.daily-view__task {
    width: 285px;
    height: 56px;
    background: #fff;
    margin: 0 0 15px 45px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daily-view__name {
    font-weight: bold;
    margin: 0 0 0 -15px;
}

.daily-view__time {
    padding: 0 15px 0 0;
}

.daily-view__btn {
    position: fixed;
    top: 92.7%;
    left: 42%;
    width: 58px;
    height: 58px;
    font-size: 24px;
    border-radius: 50%;
    background: #5B3E96;
    color: #fff;
    border: none;
    z-index: 4;
}

.task__status {
    border-radius: 50%;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #39C4A5;
    z-index: 0;
}

.task__status_mr15 {
    margin-right: 15px;
}

.task__status_undone {
    background: #FF5C5C;
}

.show-details-page {
    position: absolute;
    width: 285px;
    height: 56px;
    z-index: 0;
}