.background-shadow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-page {
    background-color: #fff;
    width: 335px;
    height: 305px;
    margin: -40% 0 0 0;
    z-index: 3;
}

.delete-page__top {
    padding: 19px 0 0 0;
    margin: 0 0 33px 0;
    display: flex;
    align-items: center;
}

.delete-page__name {
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}

.delete-page__date {
    margin: 0 0 30px 33px;
    display: flex;
    align-items: center;
}

.delete-page__day {
    margin-left: 27px;
}

.point {
    background: #3E3E3E;
    width: 3px;
    height: 3px;
    margin-left: 7px;
    margin-right: 7px;
}

.delete-page__description {
    margin: 0 0 26px 19px;
    width: 250px;
    word-wrap: break-word;
}

.delete-page__task-status {
    font-weight: bold;
}

.delete-page__image {
    margin-right: 15px;
}

.delete-page__delete-bnt {
    width: 335px;
    height: 50px;
    position: absolute;
    bottom: 40%;
    background: #FF5C5C;
    color: #fff;
}

.delete-page__task-status_flex {
    display: flex;
}